:root {
    --white-light: #EFEFEF;
    --gray: #545454;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, black, rgba(0, 0, 0, 0.9));
    color: var(--white-light);
}

.slider {
    margin: 0 auto;
    width: 300px;
    height: 400px;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgb(50, 50, 50);
    border-radius: 2px;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 300px;
    height: 400px;
}

.manual-navigation {
    position: absolute;
    width: 300px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--white-light);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover{
    background-color: #f;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.navigation-auto {
    position: absolute;
    width: 300px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--white-light);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--white-light);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--white-light);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--white-light);
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    height: 100px;
    margin: 0 10px;
    padding: 10px;
}

#musicName {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#musicName #heart {
    font-size: 15px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.controls button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.controls i {
    padding: 5px;
    border-radius: 50%;
    color: var(--gray);
    transition: all .2s;
}

.controls i:hover {
    color: var(--white-light);
}

#prevButton {
    font-size: 20px;
}

#playPauseButton {
    font-size: 35px;
}

#nextButton {
    font-size: 20px;
}

.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time span {
    font-size: 16px;
    color: #A9ADB0;
}

.footer {
    width: 100%;
}

.progress-bar {
    height: 2px;
    background-color: var(--gray);
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
}

.progress {
    height: 2px;
    background-color: white;
    border-radius: 5px;
}
